@mixin submenu-settings {
  padding: 50px;
  color: $white;
}

@mixin clearfix {
  display: inline-block;

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  html[xmlns] .clearfix {
    display: block;
  }

  * html .clearfix {
    height: 1%;
  }
}

@mixin center {
  margin: 0 auto;
  display: block;
}

@mixin center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@mixin center-absolute {
  left: 50%;
  transform: translate(-50%);
}

@mixin middle-absolute {
  top: 50%;
  transform: translate(-50%);
}

@mixin align-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin flex {
  display: table; /* IE < 10, Opera *Presto* Desktop (Now dead) */
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin flex-masonary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  max-height: 1600px;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

@mixin flex-box-1-($i) {
  -webkit-flex: 1 $i * 1px;
  -webkit-box-flex: 0;
  -ms-flex: 1 $i * 1px;
  flex: 1 $i * 1px;
}

@mixin flex-box-0-($i) {
  -webkit-flex: 0 $i * 1px;
  -webkit-box-flex: 0;
  -ms-flex: 0 $i * 1px;
  flex: 0 $i * 1px;
}
