
$transparent: transparent;
$white: #fff;
$black: #000;
$brand: #E51B0A;
$background: #eee;

$color-pallete: (
  //default
        "transparent" : $transparent,
        "white" : $white,
        "black" : $black,
        "brand" : $brand
);

