h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  @include font-family-heading;
}

h1, .h1 {
  font-size: $h1-font-size;
}

h2, .h2 {
  font-size: $h2-font-size;
}

h3, .h3 {
  font-size: $h3-font-size;
}

h4, .h4 {
  font-size: $h4-font-size;
}

h5, .h5{
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
}

.title {
  font-size: ($h1-font-size * 1.4);

  &-xs {
    font-size: ($h1-font-size * 1.8);

  }
  &-xl {
    font-size: ($h1-font-size * 1.7);

  }
}