.header {
  top: 0;
  position: fixed;
  z-index: 99;
  width: 60px;
  height: 100vh;
  background: #eee;
  border-right: 1px solid #222;

  &.change {
    border-right: 1px solid #eee;
    background: #eee;
    -webkit-box-shadow: 10px 0px 52px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 0px 52px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 0px 52px -10px rgba(0,0,0,0.75);

    //* {
    //  color: white;
    //  cursor: pointer;
    //}
    //
    //.header-toggle {
    //  .menu-wrapper span, .menu-wrapper span:before, .menu-wrapper span:after {
    //    background: white;
    //  }
    //}

  }

  &-title {
    width: 350px;
    left: -140px;
    text-align: center;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: 50% 50%;
    top: 50%;
    position: absolute;

    &:hover {
      cursor: pointer;
    }
    &__text {
      p {
        transition: all 0.7s ease-in-out;
        font-size: 1.7rem;
        @include font-family-main-default;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }

  &-branding {
    position: absolute;
    bottom: 15px;
    left: 10px;
    img {
      width: 40px;
    }
  }

  &-navigation {
    ul {
      display: inline-flex;
      list-style: none;
      margin-left: -40px;

      li {
        a {
          margin: 0 10px;
          text-transform: uppercase;
          letter-spacing: 3px;
          font-size: 0.9rem;
        }
      }
    }
  }


  &-toggle {
    position: absolute;
    top: 10px;
    left: 16px;
    .menu-wrapper {
      cursor: pointer;
      padding: 11px 0;
      display: inline-block;
      width: 28px;
    }

    .menu-wrapper span, .menu-wrapper span:before, .menu-wrapper span:after {
      content: '';
      height: 2px;
      background-color: #000000;
      width: 100%;
      display: block;

      transition-delay: 0s;
      transition-duration: 0.3s;
      transition-property: all;
      transition-timing-function: ease;
    }

    .menu-wrapper span {
      position: relative;
    }

    .menu-wrapper span:before {
      position: absolute;
      top: -7px;
    }

    .menu-wrapper span:after {
      position: absolute;
      top: 7px;
    }

    /* Cross effect */
    .menu-wrapper.active .menu-cross {
      transition-duration: 0.1s;
      background: none;
    }
    .menu-wrapper.active .menu-cross:before {
      transform: rotate(45deg);
      top: 0;
    }
    .menu-wrapper.active .menu-cross:after {
      transform: rotate(-45deg);
      top: 0;
    }

    /* Arrow effect */
    .menu-wrapper.active .menu-arrow {
      transition-duration: 0.5s;
      transform: rotate(180deg)
    }
    .menu-wrapper.active .menu-arrow:before {
      top: -3px;
      transform: rotate(30deg);
      width: 12px;
      right: 0;
    }
    .menu-wrapper.active .menu-arrow:after {
      top: 3px;
      transform: rotate(-30deg);
      width: 12px;
      right: 0;
    }

    /* Cross circle effect */
    .menu-wrapper.circle {
      border-radius : 50%;
      transition: 0.5s;
      transition-property: background-color;
    }
    .menu-wrapper.circle.active {
      background: rgba(0, 0, 0, 0.2);
    }
    .menu-wrapper.circle.active .menu-cross {
      transition-duration: 0.1s;
      background-color: transparent;
    }
    .menu-wrapper.circle.active .menu-cross:before {
      transform: rotate(45deg);
      top: 0;
      width: 18px;
      left: 3px;
    }
    .menu-wrapper.circle.active .menu-cross:after {
      transform: rotate(-45deg);
      top: 0;
      width: 18px;
      left: 3px;
    }

    .menu-wrapper .menu-plus {
      position: relative;
      display: inline-block;
      height: 24px;
      width: 24px;
      background-color: #000000;
      border-radius: 50%;

      animation-duration: 1s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-direction: alternate;
      animation-fill-mode: forwards;
    }

    .menu-wrapper .menu-plus:before {
      content: '';
      height: 2px;
      width: 16px;
      background-color: #ffffff;
      position: absolute;
      top: 11px;
      left: 4px;
    }
    .menu-wrapper .menu-plus:after {
      content: '';
      height: 16px;
      width: 2px;
      background-color: #ffffff;
      position: absolute;
      top: 4px;
      left: 11px;
    }

    .menu-wrapper.active .menu-plus:before,
    .menu-wrapper.active .menu-plus:after {
      animation-name: toCross;
    }

    .menu-wrapper.inactive .menu-plus {
      animation-name: toPlus;
    }

    @keyframes toCross {
      0% {transform: scale(0, 0);}
      50% {background-color: red;}
      to {background-color: yellow;}
    }

    @keyframes toPlus {
      from {background-color: yellow;}
      50% {background-color: red;}
      to {background-color: black;}
    }

  }
}