.page, .frontpage {

  &__title {
    width: 87%;
  }
  &--main {
    padding: 15px 30px;
    width: 100vw;
    padding-left: 100px;
    //@include center-vertically;

    &_container {
      position: absolute;
      left: 100px;
      top: 0;
      width: 100vw;
      height: 100vh;
      @include center-vertically;
    }

    .mainintro {
      letter-spacing: 5px;
      line-height: 11rem;
      @include font-family-heading;
      font-size: ($h1-font-size * 5);
    }
    .intro {
      p {
        line-height: 1.5;
      }
    }

    .subtitle {
      margin-bottom: -30px;
      color: $brand;
      font-size: 3rem;
      width: 20vw;
      float: left;
      line-height: 0.9;
      margin-top: -20px;
      @include font-family-main-default;
    }

    .top {
      float: right;
      width: 100vw;
      p {
        width: 20vw;
        float: right;
        border-left: 4px solid #E51B0A;
        padding-left: 10px;
      }
    }


  }

  &__search {
    display: inline-flex !important;
    margin-top: 10px;

    &_form {
      display: inline-flex;
      margin-left: 30px;
      margin-top: -10px;
      input[type="text"] {
        font-size: ($h1-font-size * 2);
        @include font-family-heading;
        background: transparent;
        border: none;
        border-bottom: 1px solid black;
        width: auto !important;
        line-height: initial;
        color: #E51B0A;


        &:focus, &:active {
          outline: none;
        }
      }
      input[type="image"] {
        &:focus, &:active {
          outline: none;
        }
      }
    }
  }

  &-about {
    width: 90vw;
    position: relative;
    background: $background;

    &__image {
      position: relative;
      div {
        width: 50vw;
        height: 100vh;
      }
    }
    &__text {
      mix-blend-mode: exclusion;
      color: white;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      //transform: translateX(200px);
      @include center-vertically;
      padding: 0 0 0 40%;
      z-index: 1;
      h2 {
        max-width: 700px;
        font-size: 6rem;
        line-height: 0.9;
      }

    }
  }

  &-services {
    display: inline-flex;
    &__banner {
      height: 100vh;
      background: black;
      display: inline-flex;
      align-items: flex-end;
      padding: 30px 15px;
      width: min-content;

      &_text {

        h2 {
          @include font-family-main-default;
          color: #d7d7d7;
          font-size: 14rem;
          text-transform: uppercase;
          line-height: 0.8;
        }
      }
    }
    &__wrapper {
      display: inline-flex;
      height: 100vh;
      width: 100%;
      overflow-x: auto;
      align-items: flex-end;

      //@include align-middle;
      padding: 0 70px;
      &__service {
        margin: 100px 50px;
        .title {

          h2 {
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 0.9;

          }

          h3 {
            font-size: 3rem;
            font-weight: 700;
            line-height: 0.9;
          }
          p {
            font-size: 1.6rem;
            color: $brand;
            margin-top: -15px;
            @include font-family-main-default;
          }
        }

        .image {

          .bg {

            width: 40.79vh;
            height: 58.33333vh !important;

          }
        }

      }
    }
  }
}
