html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;


}

.site-content {
  background: repeating-linear-gradient(to right, rgba(112, 112, 112, 0.2), rgba(112, 112, 112, 0.2) 1px, $background 1px, $background 8.328%);

}

#main {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  height:100vh;
  background: transparent;


}

section {
  height:100%;
}


