
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin font-family-heading {
  font-family: 'Casta', sans-serif;
}

@mixin font-family-heading-script {
  font-family: 'Brownie Script Alt', sans-serif;
}
@mixin font-family-default {
  font-family: 'Mulish', sans-serif;
}

@mixin font-family-main-default {
  font-family: 'Right Grotesk', sans-serif;
}

.font-family-heading {
  font-family: 'Casta', sans-serif;
}

.font-family-heading-script {
  font-family: 'Brownie Script Alt', sans-serif;
}

.font-family-default {
  font-family: 'Mulish', sans-serif;
}

.font-family-main-default {
  font-family: 'Right Grotesk', sans-serif;
}