//XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX//
// FLUID TYPE
//XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX//
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}
$min_width: 320px;
$max_width: 1200px;
$min_font: 0.7rem;
$max_font: 2rem;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body, p, ul li, ol li {
  @include font-family-default;
  text-rendering: optimizeLegibility;
}

p.lead {
  font-size: ($lead-font-size);
  font-weight: normal;
}

p.sub {
  font-size: ($lead-font-size / 1.2);
}



$default_font_size: 1rem;

@mixin mix-blend-mode {
  mix-blend-mode: exclusion;

}
