.pageresult {
  .page-services {
    padding-left: 60px;

    &__wrapper {
      position: relative;
      &__search {
        position: absolute;
        top: 15px;
        left: 70px;
        width: 100%;
        display: inline-flex;

      }

    }
  }
}
